h1 {
	text-align: center;
	letter-spacing: 20px;
	color: green;
	padding: auto;
	margin
	text height: 20px;
	background image:linear-gradient ;

}


body {
	background-image: linear-gradient(to right, red , yellow);
}
