h1 {
	text-align: center;
	letter-spacing: 20px;
	color: green;
	padding: auto;
	margin
	text height: 20px;
	background image:linear-gradient ;

}


body {
	background-image: linear-gradient(to right, red , yellow);
	font:'raleway' sans-sherif;
	color:rgba(0,0,0,.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top:15%;
}
